@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
dd,
dt,
a,
label,
button,
p {
  font-family: "Poppins", sans-serif;
  color: #283c78;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 767px){
  .test{
    width: 360px !important;
    height: 250px !important;
  }
  .navbar-demo  button.menu-btn {
       position: absolute;
       top: 0;
       right: 0;
       background-color: unset;
       border: 0;
       font-size: 26px;
       display:block;
       padding: 23px;
       color: #fff;
       outline: none;
   } 
   .navbar-demo{
     height:100%;
     z-index: 999;
 }
   .navbar-demo .nav-bar {
       left: -950px;
       background-color: #000000d9;
       transition: 1s;
       height: 100%;
   }

 .navbar-demo.open-nav  .nav-bar{
     left: 0;
     width: 100%;
     transition: left 0.5s;
     height: 100%;
 }

 .navbar-demo .nav-bar ul li a {
      display: block;
      color: #fff;
 }
 .navbar-demo.open-nav button.menu-btn i:before {
     content: '\f00d ';
 }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  justify-content: center;
  height: 81px;
  background-color: #afdaff;
  align-items: center;
}

.navigation-menu li:hover,
.navigation-menu li:active {
  background-color: aliceblue;
}
.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  padding: 5px 25px;
  border: 2px solid #283c78;
  border-radius: 10px;
}
.navigation-menu li a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #283c78;
}

dd{
  text-indent: 80px;
  line-height: 2;
}

dt{
  text-indent: 40px;
  line-height: 2;
}

.image-content button:hover {
  background-color: white;
  border: 2px solid #000 !important;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}